# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DB=postgres

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_USER="default"
REDIS_PASSWORD="your_password"
REDIS_MAX_CONNECTIONS="50"
REDIS_SOCKET_TIMEOUT="5"          # seconds before a command times out
REDIS_SOCKET_CONNECT_TIMEOUT="2"  # seconds before connection attempt times out
REDIS_RETRY_ON_TIMEOUT="true"     # retry command if socket times out
