[data-theme="frappe"] {
    --rosewater: oklch(0.8949 0.0336 31.16);
    --flamingo:  oklch(0.8445 0.0555 18.31);
    --pink:      oklch(0.8511 0.0886 336.25);
    --mauve:     oklch(0.7644 0.1113 311.98);
    --red:       oklch(0.7188 0.1238 19.55);
    --maroon:    oklch(0.7656 0.0973 17.4);
    --peach:     oklch(0.7715 0.1108 47.17);
    --yellow:    oklch(0.8448 0.0803 84.23);
    --green:     oklch(0.8133 0.1069 133.48);
    --teal:      oklch(0.7857 0.0715 185.28);
    --sky:       oklch(0.8262 0.0593 209.6);
    --sapphire:  oklch(0.7566 0.0657 239.8);
    --blue:      oklch(0.7398 0.1053 266.09);
    --lavender:  oklch(0.8132 0.0743 283.86);
    --text:      oklch(0.8638 0.0517 273.1);
    --subtext1:  oklch(0.8096 0.0508 273.06);
    --subtext0:  oklch(0.7557 0.0467 274.19);
    --overlay2:  oklch(0.6999 0.0455 274.14);
    --overlay1:  oklch(0.6356 0.0438 272.97);
    --overlay0:  oklch(0.5857 0.0404 275.16);
    --surface2:  oklch(0.5191 0.0376 274.03);
    --surface1:  oklch(0.457611 0.037028 272.7875);
    --surface0:  oklch(0.3892 0.041 274.54);
    --base:      oklch(0.3275 0.0328 274.63);
    --mantle:    oklch(0.2985 0.0302 276.64);
    --crust:     oklch(0.2713 0.0268 274.66);
}
