[data-theme="latte"] {
    --rosewater: oklch(0.714555 0.10498 32.0049);
    --flamingo:  oklch(0.6867 0.1259 20.86);
    --pink:      oklch(0.7254 0.1732 338.39);
    --mauve:     oklch(0.5542 0.2504 296.96);
    --red:       oklch(0.55 0.2155 19.8);
    --maroon:    oklch(0.6272 0.1947 20.27);
    --peach:     oklch(0.692 0.2036 42.52);
    --yellow:    oklch(0.7099 0.1485 67.89);
    --green:     oklch(0.6283 0.1784 140.39);
    --teal:      oklch(0.6101 0.0995 200.65);
    --sky:       oklch(0.686825 0.14581 235.3248);
    --sapphire:  oklch(0.6518 0.1081 213.31);
    --blue:      oklch(0.5586 0.2245 262.14);
    --lavender:  oklch(0.6641 0.1747 273.21);
    --text:      oklch(0.4312 0.0426 279.51);
    --subtext1:  oklch(0.4888 0.0386 278.97);
    --subtext0:  oklch(0.5458 0.033 279.31);
    --overlay2:  oklch(0.5989 0.0317 278.49);
    --overlay1:  oklch(0.6538 0.0266 277.7);
    --overlay0:  oklch(0.7072 0.0232 274.61);
    --surface2:  oklch(0.7586 0.0203 273.55);
    --surface1:  oklch(0.8091 0.0179 271.19);
    --surface0:  oklch(0.8595 0.0144 268.67);
    --base:      oklch(0.9586 0.0056 264.53);
    --mantle:    oklch(0.9338 0.0087 264.52);
    --crust:     oklch(0.909 0.0115 264.51);
}
