[data-theme="macchiato"] {
    --rosewater: oklch(0.9122 0.0282 31.13);
    --flamingo:  oklch(0.8834 0.04 17.93);
    --pink:      oklch(0.8599 0.084 336.15);
    --mauve:     oklch(0.7755 0.0944 304.85);
    --red:       oklch(0.7376 0.125 11);
    --maroon:    oklch(0.7735 0.1001 14.22);
    --peach:     oklch(0.7956 0.0945 49.23);
    --yellow:    oklch(0.8792 0.0738 84.35);
    --green:     oklch(0.8351 0.1071 138.04);
    --teal:      oklch(0.8215 0.0758 183.99);
    --sky:       oklch(0.8362 0.0711 209.74);
    --sapphire:  oklch(0.7825 0.0856 229.13);
    --blue:      oklch(0.7513 0.1095 263.58);
    --lavender:  oklch(0.8214 0.0796 279.55);
    --text:      oklch(0.8753 0.0461 273.2);
    --subtext1:  oklch(0.8122 0.0457 274.27);
    --subtext0:  oklch(0.7501 0.0445 273.11);
    --overlay2:  oklch(0.6936 0.0427 274.19);
    --overlay1:  oklch(0.6288 0.0403 274.15);
    --overlay0:  oklch(0.5616 0.0364 277.29);
    --surface2:  oklch(0.4898 0.0396 276);
    --surface1:  oklch(0.4286 0.0351 277.97);
    --surface0:  oklch(0.3541 0.0481 276.93);
    --base:      oklch(0.2752 0.0341 277.16);
    --mantle:    oklch(0.2469 0.0297 278.17);
    --crust:     oklch(0.2143 0.0276 283.83);
}
